<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="APIBaseUrl" value="https://6sdzasqfgf.execute-api.us-west-1.amazonaws.com/sandbox" />
    <add key="auth0:connection" value="bartdb-dev" />
    <add key="auth0:client_id" value="eMANjbzwCtxlK6tNACaGXDkSukQoQHAE" />
    <add key="auth0:client_secret" value="zA92uAOR2ojtTUViwT0O8s9xRxhcpIDxlalCQQWeAUNLzUJA8PYq6kAHXepw03P-" />
    <add key="auth0:audience" value="https://bart-sso-dev.auth0.com/api/v2/" />
    <add key="auth0:token_request_url" value="https://bart-sso-dev.auth0.com/oauth/token" />
    <add key="auth0:signup_request_url" value="https://bart-sso-dev.auth0.com/dbconnections/signup" />
  </appSettings>
</configuration>