@model BARTPerks.Models.PerksModel

@{
    ViewBag.Title = "Signup Complete";
    ViewBag.BodyClasses = "page-gift-card page-gift-card-signup";
}

<div class="title-wrapper clearfix">
    <h1 class="title" id="page-title">@ViewBag.Title</h1>
</div>
<div class="region region-content">
    <div id="block-system-main" class="block block-system">
        <div class="content">
            <div class="signup-desc">
                <div class="success-status">
                    <p>Congratulations!</p>
                </div>
            </div>
        </div>
    </div>
</div>
